<div class="article-page">
  <button mat-raised-button (click)="openDialog()" class="add-article-btn">
    Add New Article
  </button>
  
  <div class="search">
    <input matInput [(ngModel)]="searchQuery" placeholder="Search Articles" />
  </div>

  <div class="article-list">
    <div *ngFor="let article of articles|search:searchQuery" class="article-row">
      <ng-container *ngIf="article.type=='draft'">

        <p ><span class="fw-bold">Title : </span> {{ article.title|titlecase }}</p>
        <button mat-button (click)="openDialog(article)">Edit</button>
      </ng-container>
    </div>
  </div>
</div>
